@dark: #222;
@light: #ffffff;

body {
  background: @light;
  color: @dark;

  &.dark {
    background: @dark;
    color: @light;
  }
 
}
.header-class{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
padding-left: 10px;
padding-right: 10px;
  width: 95%;
  height: 50px;
  background-color:beige;
  color: brown;
}
.link-header{
  color: brown;
  font-weight: bold;
  font-size: larger;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
  background-color: beige;
  
}
.form-class{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: bisque;
}
.button-class{
  background-color: brown;
  color: #ffffff;
  margin-top: 10px;
}